<footer>
  <div class="footer-Kartina">
    <div class="nav-footer">
      <nav class="navbar">
        <ul class="navbar-nav">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle link-footer-Kartina" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Langue
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"><img src="assets/flags/flag-fr.png" alt="fr"> Français</a>
              <a class="dropdown-item" href="#"><img src="assets/flags/flag-uk.png" alt="uk"> Anglais</a>
              <a class="dropdown-item" href="#"><img src="assets/flags/flag-spain.png" alt="spain"> Espagnol</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="right-footer">
      <a class="link-footer-Kartina" href="#">Mentions légales</a>
      <a class="link-footer-Kartina" href="#">Conditions générales d'utilisation</a>
      <a class="link-footer-Kartina" href="#"><img src="assets/social-media/facebook-square-brands.svg" alt="facebook" width="40px" height="40px"></a>
      <a class="link-footer-Kartina" href="#"><img src="assets/social-media/twitter-square-brands.svg" alt="facebook" width="40px" height="40px"></a>
    </div>
  </div>
</footer>