<div class="photographs-main">
  <app-filtering (ratingFiltersOrientation)="addFiltersOrientation($event)" (ratingFiltersFormat)="addFiltersFormat($event)" (ratingFiltersPrice)="addFiltersPrice($event)"></app-filtering>
  <section class="photographs-results">
    <div class="photographs-results-description">
      <h3>Photographies</h3>
    </div>
    <div class="sort">
      <span>Trier par :</span>
      <a href="" class="active">Nouveautés</a>
      <a href="">Meilleures ventes</a>
      <a href="">Prix croissants</a>
      <a href="">Prix décroissants</a>
      <span>{{nbResult}} résultats</span>
    </div>
    <div class="photographs-results-images">
      <div class="photographs-results-image" *ngFor="let photo of tabShowPhoto">
        <img src="assets/{{photo.url}}" alt="{{photo.url}}" width="100%" />
        <p>{{photo.artist}}</p>
        <p>{{photo.name}}</p>
        <p>A partir de {{photo.price}}€</p>
      </div>
      <div *ngIf="nbResult == 0">
        <p>Aucuns résultats selon vos critères de recherche.</p>
      </div>
    </div>
    <div class="photographs-results-pagination">
      <span>
        <fa-icon [icon]="faChevronLeft" size="xs"></fa-icon><a href=""> Précédent</a>
      </span>
      <span class="pagination-number">1</span>
      <span class="pagination-number">2</span>
      <span class="pagination-number">3</span>
      <span class="pagination-number">4</span>
      <span class="pagination-number">5</span>
      <span class="pagination-number">6</span>
      <span class="pagination-number">7</span>
      <span class="pagination-number">...</span>
      <span><a href="">Suivant </a>
        <fa-icon [icon]="faChevronRight" size="xs"></fa-icon>
      </span>
    </div>
  </section>
</div>