.app-breadcrumb
{
    max-width: 2000px;
    margin: auto;
}
.container
{
    max-width: 2000px;
    padding: 0;
}
.loading
{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader
{
    animation: rotateLoader 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotateLoader {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}