<nav>
  <ol class="breadcrumb">
    <li>
      <a [routerLink]="['']">Accueil</a>
    </li>
    <li>
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </li>
    <div class="breadcrumb-items" *ngFor="let item of breadcrumb; index as i">
        <li>
            <a *ngIf="(i+1) < breadcrumb.length" [routerLink]="[item | lowercase]">{{item}}</a>
            <a *ngIf="(i+1) === breadcrumb.length" class="lastItem">{{item}}</a>
          </li>
          <li *ngIf="(i+1) < breadcrumb.length">
            <fa-icon [icon]="faChevronRight"></fa-icon>
          </li>
    </div>
    
  </ol>
</nav>