<nav>
  <ol class="breadcrumb">
    <li>
      <a [routerLink]="['']">Accueil</a>
    </li>
    <li>
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </li>
    <div class="breadcrumb-items" *ngFor="let item of breadcrumb; index as i">
      <li *ngIf="(item) !== 'Par Theme'">
        <a (click)="navigateTo(item)" *ngIf="(i+1) < breadcrumb.length">{{item}}</a>
        <span class="lastItem" *ngIf="(i+1) === breadcrumb.length">{{item}}</span>
      </li>
      <li *ngIf="(i+1) < breadcrumb.length && (item) !== 'Par Theme'">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </li>
    </div>
  </ol>
</nav>