<div class="index-photo">
    <img src="assets/everest.jpg" width="100%" height="100%" alt="" />
    <div class="index-description">
      <h2>Nouvelles oeuvres</h2>
      <p>La légendaire collection Everest</p>
      <button class="btn-Kartina btn-photo">Explorez la nouvelle collection <i class="fas fa-caret-right"></i></button>
    </div>
  </div>

  <section class="index-art-photo">
    <h2>Photographies d'art</h2>
    <h3>Oeuvres en édition limitée et numérotée avec certificat d'authenticité</h3>
    <div class="art-photo-content">
      <div class="art-photo">
        <div class="art-photo-img">
          <img src="assets/plage.jpg" alt="plage" width="100%" height="100%">
        </div>
        <div class="art-photo-description">
          <p>Paul Jones</p>
          <p>Plage</p>
          <p>A partir de 100€</p>
        </div>
      </div>
      <div class="art-photo">
        <div class="art-photo-img">
          <img src="assets/plage.jpg" alt="plage" width="100%" height="100%">
        </div>
        <div class="art-photo-description">
          <p>Paul Jones</p>
          <p>Plage</p>
          <p>A partir de 100€</p>
        </div>
      </div>
      <div class="art-photo">
        <div class="art-photo-img">
          <img src="assets/plage.jpg" alt="plage" width="100%" height="100%">
        </div>
        <div class="art-photo-description">
          <p>Paul Jones</p>
          <p>Plage</p>
          <p>A partir de 100€</p>
        </div>
      </div>
      <div class="art-photo">
        <div class="art-photo-img">
          <img src="assets/plage.jpg" alt="plage" width="100%" height="100%">
        </div>
        <div class="art-photo-description">
          <p>Paul Jones</p>
          <p>Plage</p>
          <p>A partir de 100€</p>
        </div>
      </div>
      <div class="art-photo">
        <div class="art-photo-img">
          <img src="assets/plage.jpg" alt="plage" width="100%" height="100%">
        </div>
        <div class="art-photo-description">
          <p>Paul Jones</p>
          <p>Plage</p>
          <p>A partir de 100€</p>
        </div>
      </div>
      <div class="art-photo">
        <div class="art-photo-img">
          <img src="assets/plage.jpg" alt="plage" width="100%" height="100%">
        </div>
        <div class="art-photo-description">
          <p>Paul Jones</p>
          <p>Plage</p>
          <p>A partir de 100€</p>
        </div>
      </div>
    </div>
    <button class="btn-Kartina-reverse ma">Explorez la collection</button>
  </section>

  <section class="quatro">
    <div class="quatro-journey">
      <img src="assets/voyage.jpg" alt="voyage" width="100%" height="100%">
      <div class="quatro-description">
        <p>Voyage</p>
        <p>Vivez vos rêves</p>
        <button class="btn-Kartina btn-photo">Parcourir la collection</button>
      </div>
    </div>
    <div class="quatro-blackAndWhite">
      <img src="assets/noir_blanc.jpg" alt="noir et blanc" width="100%" height="100%">
      <div class="quatro-description">
        <p>Noir & Blanc</p>
        <p>Des oeuvres intemporelles</p>
        <button class="btn-Kartina btn-photo">Découvrir la collection</button>
      </div>
    </div>
    <div class="quatro-artist">
      <img src="assets/artiste.jpg" alt="artiste" width="100%" height="100%">
      <div class="quatro-description">
        <p>Aurélien Vilette</p>
        <p>Edifices oubliés</p>
        <button class="btn-Kartina btn-photo">Découvrir l'artiste</button>
      </div>
    </div>
    <div class="quatro-last">
      <img src="assets/last.jpg" alt="derniers exemplaires" width="100%" height="100%">
      <div class="quatro-description">
        <p>Derniers exemplaires</p>
        <p>Ne passer pas à côté de votre oeuvre</p>
        <button class="btn-Kartina btn-photo">Découvrir les oeuvres</button>
      </div>
    </div>
  </section>