<aside class="filtering-block">
  <div class="filtering-content">
    <h3 class="filtering-content-title">Thème</h3>
    <p class="filtering-content-item" *ngFor="let theme of themes">
      <a [routerLink]="['par_theme/'+theme.name]">{{theme.name}}</a>
    </p>
  </div>
  <div class="filtering-content">
    <h3 class="filtering-content-title">Orientation</h3>
    <div class="form-check form-check-inline filtering-content-item" *ngFor="let orientation of orientations">
      <input class="form-check-input" type="checkbox" id="{{orientation.name}}" value="{{orientation.name}}">
      <label class="form-check-label" for="{{orientation.name}}">{{orientation.name}}</label>
    </div>
  </div>
  <div class="filtering-content">
    <h3 class="filtering-content-title">Format</h3>
  </div>
  <div class="filtering-content">
    <h3 class="filtering-content-title">Prix</h3>
  </div>
  <div class="filtering-content">
    <h3 class="filtering-content-title">Filtres avancés</h3>
  </div>

</aside>