<aside class="filtering-block">
  <div class="filtering-content">
    <h3 class="filtering-content-title">Thème</h3>
    <p class="filtering-content-item" *ngFor="let theme of themes">
      <a [routerLink]="['/photographies/par_theme/'+theme.name | lowercase | replaceSpaces]">{{theme.name}}</a>
    </p>
  </div>
  <div class="filtering-content">
    <h3 class="filtering-content-title">Orientation</h3>
    <div class="form-check form-check-inline filtering-content-item" *ngFor="let orientation of orientations">
      <input (click)="addOrRemoveFilterOrientation(orientation.name, $event)" class="form-check-input" type="checkbox" id="{{orientation.name}}" value="{{orientation.name}}">
      <label class="form-check-label" for="{{orientation.name}}">{{orientation.name}}</label>
    </div>
  </div>
  <div class="filtering-content">
    <h3 class="filtering-content-title">Format</h3>
    <div class="form-check form-check-inline filtering-content-item" *ngFor="let format of formats">
      <input (click)="addOrRemoveFilterFormat(format.name, $event)" class="form-check-input" type="checkbox" id="{{format.name}}" value="{{format.name}}">
      <label class="form-check-label" for="{{format.name}}">{{format.name}}</label>
    </div>
  </div>
  <div class="filtering-content">
    <h3 class="filtering-content-title">Prix</h3>
    <div class="form-check form-check-inline filtering-content-item" *ngFor="let price of prices">
      <input (click)="addOrRemoveFilterPrice(price.name, $event)" class="form-check-input" type="checkbox" id="{{price.name}}" value="{{price.name}}">
      <label class="form-check-label" for="{{price.name}}">{{price.name}}</label>
    </div>
  </div>
  <div class="filtering-content">
    <h3 class="filtering-content-title">Filtres avancés</h3>
    <p class="filtering-content-item">
      <a [routerLink]="['']">Nouveautés</a>
    </p>
    <p class="filtering-content-item">
        <a [routerLink]="['']">Derniers exemplaires</a>
      </p>
  </div>

</aside>