/* You can add global styles to this file, and also import other style files */
a
{
    color: black;
}
a:hover
{
    text-decoration: none;
    color: black;
}
.btn-Kartina
{
  background-color: rgba(0,0,0,0);
  color: white;
  border: 2px solid white;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.btn-Kartina-reverse
{
  background-color: rgba(0,0,0,0);
  color: black;
  border: 2px solid black;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.btn-Kartina:hover
{
  background-color: white;
  color: black;
}
.btn-Kartina-reverse:hover
{
  background-color: black;
  color: white;
}
.ma
{
  margin: auto;
}
.dropdown-menu
{
  border-radius: 0;
}